{% if view.current_display == 'block_tabs_popular_posts' %}
	{% if rows %}
	<div class="tabs-3">
		{{ header }}
		<div class="tab-content">
            <div class="tab-pane fade in active" id="popular-tab">
            	{{ rows }}
            </div>
            <div class="tab-pane fade" id="recent-tab">
            	{{ footer }}
            </div>
        </div>
	</div>
	{% endif %}
{% else %}
	{{ rows }}
{% endif %}